.App {
  text-align: center;
}

.App-version {
  margin: 10px;
  font-size: small;
  font-style: italic; 
}

@media (max-width: 1024px) and (orientation: landscape) {
  #panes {
    width: 100%;
    display: table; 
  }
  #pane1 {
    width: 40%;
    display: table-cell;
  }
  #pane2 {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
  }
}
