#gallows {
	background-color: aliceblue;
	margin-bottom: 10px;
}

@media (max-width: 1023px) and (orientation: portrait) {
	#gallows {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1023px) and (orientation: landscape) {
	#gallows {
		width: 150px;
		height: 150px;
	}
}

@media (min-width: 1024px) {
	#gallows {
		width: 300px;
		height: 300px;
	}
}

path {
	stroke: black;
	stroke-width: 2;
	stroke-linecap: round;
	fill-opacity: 0;
}
