.Letter {
  font-family: Courier New, Courier, monospace;
  margin: 2px;
}

.Letter-available {
}

.Letter-correct {
  color: #00ff00;
  background-color: #00ff0020;
}

.Letter-incorrect {
  color: #ff0000;
  background-color: #ff000020;
}
