.Word {
  font-family: Courier New, Courier, monospace;
	line-height: 30px;
}

.Word-loading {
	font-size: small;
	font-style: italic;
	line-height: 30px;
}

.Word-loading img {
	margin-right: 5px;
	vertical-align: middle;
}
